<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th>Borough / City / Township</th>
      <th>Total COVID19 Cases</th>
      <th>Cases/1M people</th>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to city.name, city %></td>
        <td><%= city.total_cases %></td>
        <td>
          <% if city.cases_per_million > 1000 %>
            <span class="badge badge-warning">
              <%= city.cases_per_million %>
            </span>
          <% else %>
            <%= city.cases_per_million %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan=3>
          <%= column_chart city.chart_data, colors: ["##{SecureRandom.hex(3)}"], legend: false %>
        </td>
      </tr>
    </tbody>
  </table>
</div>