<% content_for(:title) do %>
  COVID-19 cases in <%= @city.name %>
<% end %>

<div class="jumbotron">
  <h1 class="display-4"><%= @city.name %></h1>
  <p class="lead">
    <span class="badge badge-danger">Has a total of <%= @city.total_cases %> <%= 'cases'.pluralize(@city.total_cases) %></span>
  </p>
  <hr class="my-4">
  <p><%= @city.name %> has about <span class="badge badge-warning"><%= @city.cases_per_million %> cases per 1 million people</span> based on the <span class="badge badge-primary">population of <%= number_to_human(@city.population, significant: false) %></span>.</p>
  <%= line_chart @city.chart_data, colors: ["##{SecureRandom.hex(3)}"], legend: false %>
</div>

<h2>Breakdown</h2>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th>Date</th>
      <th>Cases</th>
    </thead>
    <tbody>
      <% @city.cases.each do |kase| %>
        <tr>
          <td><%= kase.date.strftime('%A %B %d') %></td>
          <td><%= kase.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
